a {
    color: #4559f9;
    text-decoration: none;
    transition: 100ms all ease;
    border-bottom: 1px solid rgba(69, 89, 249, 0);
}

a:hover {
    color: #4559f9;
    border-bottom: 1px solid #4559f9;
}

a:visited {
    color: #3748c8;
}